<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success"
                  type="submit"
                  [disabled]="!recipeForm.valid">Save
          </button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control"
                   type="text"
                   id="name"
                   formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input class="form-control"
                   type="text"
                   id="imagePath"
                   formControlName="imagePath"
                   #imagePath>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control"
                      type="text"
                      id="description"
                      formControlName="description"
                      rows="6">
            </textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div class="row"
               *ngFor="let ingredientCtrl of formData.controls; let i = index"
               [formGroupName]="i"
               [title]="ingredientCtrl.value.name + ' => ' + ingredientCtrl.value.amount">
            <div class="col-xs-8">
              <input class="form-control"
                     type="text"
                     formControlName="name"
                     title="ingredientName">
            </div>
            <div class="col-xs-2">
              <input class="form-control"
                     type="number"
                     formControlName="amount"
                     title="ingredientAmount">
            </div>
            <div class="col-xs-2">
              <button class="btn btn-danger"
                      type="button"
                      (click)="onDeleteIngredients(i)">x
              </button>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="button" (click)="onAddIngredients()">Add Ingredients</button>
        </div>
      </div>
    </form>
  </div>
</div>
