<div class="row">
  <div class="col-xs-12">
    <img [src]="recipeClicked.imageURL" alt="{{recipeClicked.name}}" class="img-fluid">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{recipeClicked.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle img-rounded">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a routerLink="/recipes" (click)="toShoppingList()">To Shopping List</a></li>
        <li><a routerLink="/recipes">Edit Recipe</a></li>
        <li><a routerLink="/recipes">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {{recipeClicked.description}}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">

    <ul class="list-group">
      <ul
        class="list-group-item"
        *ngFor="let ingregient of recipeClicked.ingredients">
        {{ingregient.name}} -> {{ingregient.amount}}
      </ul>
    </ul>
  </div>
</div>
