<app-header
  (featureSelected)="onFeatureSelected($event)"></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!--<app-recipes></app-recipes>-->
      <!--<app-shopping-list></app-shopping-list>-->
      <!--<app-recipes *ngIf="featureType==='recipes'"></app-recipes>-->
      <!--<app-shopping-list *ngIf="featureType==='shopping_list'"></app-shopping-list>-->

      <router-outlet></router-outlet>

    </div>
  </div>
</div>

<!--http://www.mediafire.com/file/5aocfcj195pufm3/Win7_Ult_SP1_English_COEM_x64.iso-->

<!--sensor-target-coverage-->


<!--SensorTargetCoverage-Service-Consumer-UI-->
<!--http://consumer-ui.ap-south-1.elasticbeanstalk.com/-->

<!--SensorTargetCoverage-env-->
<!--http://sensor-target-coverage.ap-south-1.elasticbeanstalk.com/-->

<!--displaySensors->call_webservice_and_load_data.php-->
<!--send_request->generateCoverageR.php-->


<!--lin-> glpk-4.55/target_coverage/target.mod -&#45;&#45; win-> bin\gusek\target.mod-->

<!--lin-> glpk-4.55/examples/glpsol -&#45;&#45; win-> bin\gusek\glpsol.exe-->

<!--lin-> glpk-4.55/generatedFiles -&#45;&#45; win-> bin\generatedFiles-->


<!--<br/>-->
<!--ec2-user@ip-172-31-26-44 home]$ sudo chown ec2-user /home/ec2-me-->
<!--[ec2-user@ip-172-31-26-44 home]$ sudo chmod -R 755 /home/ec2-me-->


<!--InputType.TYPE_CLASS_TEXT|-->


<!--A new persistent JWS application for Apache Tomcat 8 (using MySQL) has been created in your project. The-->
<!--username/password for administering your JWS is r8Ij5twq/IlTG3HxJ. For accessing the MySQL database "root" use the-->
<!--credentials userrrx/SUAgi5Sc. Please be sure to create the secret named "jws-app-secret" containing the server.crt-->
<!--file used for serving secure content.-->


<!--A new persistent JWS application for Apache Tomcat 8 (using MySQL) has been created in your project. The-->
<!--username/password for administering your JWS is root/root@9051568624. For accessing the MySQL database-->
<!--"sensor_cloud" use the credentials supriyo_63/sb@9051568624. Please be sure to create the secret named-->
<!--"jws-app-secret" containing the server.crt file used for serving secure content.-->


<!--http://localhost:8081/androidWebServiceTest/Test?wsdl-->


<!--eaJp_qezXYE:APA91bHPyTU5A_k__TvTdFa7_OTVmbuh05Cqq4H06VqSQEbNKj4Qi1bDRT9hc-tsSs_WtHs76qGQLViEkBemcdLabFrDVmbkg5uNjYIGtCF5uIock-WBcv2zujBrDiR05I-UC_lytXwp-->

<!--angular-->
<!--the complete webdevelope bootcamp-->

<!--joel schumat-->


<!--2354101446-->
<!--supriyo1995 -> http://monitor-system-sensor-service.7e14.starter-us-west-2.openshiftapps.com/ -> monitor-->

<!--supriyo1994 -> https://console.starter-us-east-1.openshift.com -> webservice & mysql-->


<!--http://monitor-system-monitor.a3c1.starter-us-west-1.openshiftapps.com/-->

<!--http://monitor-system-monitor.193b.starter-ca-central-1.openshiftapps.com/-->


<!--no viable alternative at input '=' &ndash;&gt; from __future__ import print_function-->

<!--eclipse notepad vs normal notepad , spacing -&ndash;&gt;> font problems -&ndash;&gt;> make same font for every editor-->

<!--The syntax for defining a directive is:-->
<!--<%@ directive attribute="value" %>-->


<!--1994 -> 0 dec 2018-->
<!--1994.5 -> 0 sep 2018-->


<!--https://helpx.adobe.com/x-productkb/policy-pricing/cs6-product-downloads.html-->

<!--http://webservice-android.1d35.starter-us-east-1.openshiftapps.com/AndroidWebService?wsdl-->

<!--https://github.com/supriyabaidya/android-webservice.git-->

<!--Add -J-Djava.io.tmpdir=T:/Temp to the end of the netbeans_default_options property in NetBeans/etc/netbeans.conf-->
<!--configuration file, assuming that T:\ has a lot more space than C:\.-->


<!--las vegas-->

<!--android asynctask-->


<!--supriyo-->
<!--tomcat_netbeans-->


<!--supriyo1994 -> https://console.starter-us-west-2.openshift.com problem of server is resolved by openshift-->

<!--supriyo63-> https://console.starter-us-west-1.openshift.com problem of server is resolved by openshift-->

<!--supriya63 -> https://console.starter-us-west-1.openshift.com problem of server is resolved by openshift(creating-->
<!--tomcat is problematic, check it)-->
<!--hardytom202 -> https://console.starter-us-west-1.openshift.com problem of server is resolved by openshift-->
<!--supriyo1995 -> https://console.starter-ca-central-1.openshift.com problem of server is resolved by openshift-->


<!--// currently no region \\ ||-->


<!--make a account on hiretale and others plus after july there are so many open drive campus in bangalore,delhi etc-->
<!--check on freshersworld-->


<!--normal java(not jee) app (by maven project) deploy-->


<!--host-mysql-->
<!--user-root-->
<!--pass-root-->
<!--db-server_db-->

<!--Patients-Administration-System-->


<!--It's a JAVA GUI application of automation system of Patients Administration System of a Hospital . Where patients-->
<!--can book , reschedule and cancel an appointment . This can work online , that is, every user can use it from home-->
<!--or anywhere.-->


<!--Usage : Starting point is Home.java which contains the main method . Start application by running Home.java-->

<!--IMPORTANT NOTE : Make sure your mysql server running on port 3306 and username="root" , password="" (blank) .-->
<!--Otherwise you can edit the MySQL.java at line 20 as your configuration of mysql server . Then import the database-->
<!--patientsadminsystem.sql-->

<!--If any you are facing any problem ,let me know please .-->

<!--THANKS .-->


<!--http://185.27.134.10/db_structure.php?db=epiz_20404104_server_db-->


<!--http://185.27.134.10/db_structure.php?db=epiz_20404104_patientsadminsystem-->


<!--supriyabaidyadatabases-->

<!--Online database management . It is my database for online purpose .-->

<!--Supriya Baidya Databases-->


<!--https://www.youtube.com/redirect?q=https%3A%2F%2Fgithub.com%2Ftomek-servlets%2FphpMyAdmin&redir_token=dnwjdb0H3rorKs_NnGL4W18hADB8MTUxMDM0MDUxMUAxNTEwMjU0MTEx&event=video_description&v=pFUQpDR7qtc-->


<!--https://github.com/tomek-servlets/phpMyAdmin.git-->


<!--Sending-Test-and-BigFiles-JAVA-TCP/IP-Socket-Programming-->

<!--244728-->

<!--I'm graduated with honours in Math.Now I'm a final year student of B.Tech(C.S.E) of Calcutta University .I've-->
<!--learned different programming languages like C,C++,C# and focused on JAVA ( currently practice a lot ) .,I've made-->
<!--a couple of application and GUI applications too . I love to coding .And I want to do a coding based job , simply-->
<!--I want to be a programmer .-->

<!--8024200D-->

<!--100/6 - support@freelancer.com-->

<!--log1 & log2 - if-->


<!--create all programs (html,servlet etc ) -> clean & build ->-->


<!--gmail 2 step -> pwlnxcuvizhszufs-->


<!--1.run regedit-->
<!--2. go to HKEY_CURRENT_USER\Software\downloadManager-->
<!--3. find name CheckUpdtVM change volume 0-->
<!--4. now ......... it gone forever-->


<!--https://oss.sonatype.org/content/repositories/ksoap2-android-releases/com/google/code/ksoap2-android-->


<!--https://dl-ssl.google.com/android/eclipse-->

<!--http://lockernerd.co.uk/-->


<!--<form name="test" method="get" action="Client">-->
<!--<input type="text" name="test"/><br/>-->
<!--<input type="submit" value="submit"/>-->
<!--</form>-->

<!--Libraries like java.awt and java.swing are not supported because Android has other libraries for user interfaces-->


<!--Kabhi kabhi kuch galat hi sahi hota hai, Galat waqt ke hisab se thik lag skta hai Lekin galat kabhi sahi nahi ho-->
<!--skta hai-->


<!--DIR/A/X/P-->

<!--hklm/sw/policies/ms/win/safer/co/0/paths-->


<!--<style name="AppTheme" parent="Theme.AppCompat.Light.NoActionBar">-->
<!--</style>-->


<!--*#*#3646633#*#*-->

<!--*#7760#-->


<!--C:\Windows\System32\drivers\etc-->

<!--HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\services\eventlog-->


<!--C:\Windows\System32\drivers\kltap.sys-->


<!--supriya_ht13-->


<!--HTML & CSS ->> float , postion , display:block,overflow:visible-->


<!--https://resident.uidai.gov.in/aadhaar-update-->


<!--https://resident.uidai.net.in/verify-email-mobile-->

<!--https://uidai.gov.in/-->

<!--944872610309-->


<!--20101921115570-->
<!--19072012122755-->

<!--413456355387-->


<!--supriyobaidya63kolkata-->


<!--denzel-->


<!--Shipping address Change shipping address-->
<!--SUPRIYO BAIDYA-->
<!--VILL: 1 NO. Sultanpur, P.S: Santragachi, P.O: Jagacha,-->
<!--HOWRAH, WEST BENGAL 711111-->
<!--India-->
<!--Phone: 9051568624-->


<!--https://drive.google.com/open?id=0B0Lt9a5mjU1qQ01zeWpYSFI0TUE-->


<!--SCRBTROHT85I-->


<!--D:\Program Files\Android\Android Studio-->


<!--D:\Users\TomHardy\AppData\Local\Android\sdk1-->


<!--tid : 14207149-->

<!--11-01-2017 20:23:40-->

<!--38753836-->


<!--ls ,cat ,ps,-->
<!--fork,exec,wait,stat,open,read,write,append-->


<!--Start–>Services.msc-->
<!--Stop the “Background Intelligent Transfer” and “Windows Update” services.-->
<!--Start–>Cmd (‘as administrator’)-->
<!--rd %systemroot%\softwaredistribution /s-->


<!--System.Diagnostics.EventLog.Delete("WrongNamedEventLog");-->


<!--http://www.justmomsex.com/?id=trafficshoplowpop.com-->


<!--UPDATE my_table SET a=@tmp:=a, a=b, b=@tmp;-->
<!--ALTER TABLE table_name MODIFY password varchar(20) AFTER id-->

<!--Before_KIS_adobe_hosts-->


<!--check after 3 months ,amazon 29 th jan-->
<!--check my macro-->

<!--intimacy 2001,8mm 2,a real young girl 1976,the idiots 1998,stranger by the lake 2013.-->


<!--how to take string of varible length-->


<!--https://www.leapforceathome.com/qrp/core/vendors/document/view/32?node.id=1312-->

<!--https://www.leapforceathome.com/qrp/core/vendors/document/view/32-->


<!--A Short Story about Love-->


<!--BF4E19CACD7D5FD9BD2CF187EBFB633487032B94-->


<!--All Ladies Do It-->
<!--buffer overflow-->
<!--variables and corresponding automata-->


<!--23C1E43A3339D9E7E72B43D68D226317A61A4A16-->


<!--cod 84D3D6963A50E5D69EA227A565AFBFB4F55E5AA1-->


<!--host file,aperture-->

<!--vs studio,-->
<!--freelancer-->
<!--backups-->


<!--processor,processing elements-->
<!--open source,secondary and virtual-->


<!--https://thepiratebay.org/torrent/7111309/NFS_MOST_WANTED___PATCH__amp__CRACK___SAVE_EDITOR-->


<!--https://torrentproject.se/5d2582a249524bb85a2fc9581516a2ac4a8f5271/-->


<!--https://www.youtube.com/watch?v=yqRf3Nq4Sxk-->


<!--new update available error-->


<!--kamasutra-->


<!--youtube - 10 android hidden features of android,-->


<!--http://nptel.ac.in/courses/106104028/-->


<!--http://eisamay.indiatimes.com/lifestyle/live-your-dreams/3-secret-reasons-men-eventually-leave-good-women/articleshow/51125520.cms-->


<!--http://www.iupsc.in/2015/08/best-career-opportunities-in-top-10-multinational-company.html-->


<!--##786#-->


<!--*#*#786#*#*-->


<!--http://www.whaaky.com/-->


<!--9 Tips for Better Smartphone Photos-->

<!--How to take better pictures with your camera phone-->


<!--How To Develop a Personal Style in Mobile Photography-->


<!--Photography on Android (How To)-->


<!--PHONE PHOTOGRAPHY TRICKS!-->


<!--http://cashkaro.com/-->


<!--http://www.bdmorning.com/life-style/105758-->


<!--RS6534E-->


<!--*123*099#-->
<!--http.globe.com.ph.-->


<!--http://zoutons.com/stores/freecharge-coupons/-->


<!--http://www.thecrazyprogrammer.com/2014/09/cppdroid-cc-ide-for-android-platform.html-->


<!--http://forums.crackberry.com/blackberry-os-apps-f35/blackberry-app-world-via-desktop-manager-197029/-->


<!--http://support.blackberry.com/kb/articleDetail?ArticleNumber=000028715-->


<!--http://www.bdmorning.com/techonology/12506-->


<!--807423875649841-->


<!--bengali, kangal malsaat,bari tar bangla,-->


<!--https://tcstrainingilp.webex.com-->

<!--Supriya Baidya-->

<!--supriyobaidya63@gmail.com-->

<!--supriyobaidya1994@gmail.com &#45;&#45;&#45;&#45;&ndash;&gt;>> scribd-->


<!--hardytom202@outlook.com-->


<!--supriyobaidya63@yahoo.com-->


<!--http://www.bdmorning.com/life-style/61204-->


<!--https://www.facebook.com/Aimane.idhajji.writer/videos/728020423935960/-->


<!--Load / Unload Cycles-->


<!--http://www.bdmorning.com/others/33173-->


<!--http://www.bdmorning.com/%E0%A6%B8%E0%A7%8D%E0%A6%AC%E0%A6%BE%E0%A6%B8%E0%A7%8D%E0%A6%A5%E0%A7%8D%E0%A6%AF-%E0%A6%93-%E0%A6%AA%E0%A7%81%E0%A6%B7%E0%A7%8D%E0%A6%9F%E0%A6%BF/39801-->


<!--87DQC-G8CYR-CRPJ4-QX9K8-RFV2B-->

<!--http://www.bdmorning.com/life-style/36872-->

<!--https://www.youtube.com/watch?v=e4XtME6fCWc-->


<!--bcdboot C:\Windows-->


<!--Balance Check ? *111# or *367# or *306# or *402# Postpaid – *222#-->
<!--Check Internet Data Balance ? *333*1*3*1# or *367*3#-->
<!--Check Your Number ? *1#-->
<!--Recharge ? *368# or *305*<14 digit pin>#-->

<!--Special Packs and Offers ? *777#-->
<!--Caller Tunes ? *999#-->
<!--Reliance USSD codes for net pack 2G/3G ? *123# or *321#-->
<!--Free Net ? *123*099#-->



